/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Outer container styling */
  .outer-container {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #84fab0, #8fd3f4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Signup container */
  .signup-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
  }
  
  /* Signup form header */
  .signup-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Input group */
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Input warning */
  .warning{
    color: red;
    padding: 5px;
    font-size: 13px;
  }
  
  /* Signup button */
  .signup-button {
    width: 100%;
    background: #84fab0;
    border: none;
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .signup-button:hover {
    background: #62d8a3;
  }
  
  /* Options */
  .options {
    margin-top: 1rem;
    text-align: center;
  }
  
  .options a {
    color: #62d8a3;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .options a:hover {
    color: #84fab0;
  }
  